body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', Verdana, sans-serif;
  font-weight: 300;
  color: #595959;
  font-size: 21px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Slab', Georgia, serif;
}
a {
  color: #468913;
}
a:hover {
  color: #2f5c0d;
}
.app-view {
  margin-top: 40px;
}
.button {
  text-decoration: none;
  color: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.button:hover {
  color: #FFF;
}
.button-success {
  background: #468913;
  padding: 5px;
}
.button-success:hover {
  background-color: #74e022;
}
.button-delete {
  background: #ea233a;
  padding: 1px 10px 2px 10px;
}
.button-delete:hover {
  background-color: #f3808d;
}
.f-right {
  float: right;
}
@media only screen and (max-device-width: 600px) {
  .show-desktop {
    display: none;
  }
}
.show-mobile {
  display: none;
}
@media only screen and (max-device-width: 600px) {
  .show-mobile {
    display: inline-block;
  }
}
header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background-color: #468913;
}
header .brand {
  margin: 0;
  padding: 5px 10px;
}
header .brand a {
  color: #FFFFFF;
  text-decoration: none;
}
.add-food-div {
  text-align: right;
}
@media only screen and (max-width: 600px) {
  .calories-cell {
    border-bottom: 1px solid #595959;
    padding-bottom: 5px;
  }
}
.control-box {
  flex: 1 1 auto;
}
.diary-controls {
  display: flex;
  flex-flow: wrap nowrap;
  width: 80%;
  margin: 20px auto;
}
@media only screen and (max-width: 600px) {
  .diary-controls {
    width: 90%;
  }
}
.date-input {
  font-family: 'Josefin Slab', Georgia, serif;
  font-size: 1.1em;
  font-weight: 700;
  color: #468913;
  border: none;
  border-bottom: 1px solid #595959;
  width: 150px;
  text-align: center;
}
.date-input:focus {
  outline: none;
}
.date-input:hover {
  color: #74e022;
  cursor: pointer;
}
.flex-table,
.total-row {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 20px auto;
}
@media only screen and (max-width: 600px) {
  .flex-table,
  .total-row {
    width: 90%;
    margin: 10px auto;
    display: block;
  }
}
.flex-table-cell,
.first-column {
  width: 25%;
  box-sizing: border-box;
  text-align: center;
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dashed grey;
}
.flex-table-cell input,
.first-column input {
  font-family: 'Josefin Slab', Georgia, serif;
  font-size: 1.1em;
  font-weight: 700;
  color: #468913;
  border: none;
  border-bottom: 1px solid #595959;
  outline: none;
  text-align: center;
  width: 30%;
}
.flex-table-cell input:focus,
.first-column input:focus {
  outline: none;
}
@media all and (max-width: 600px) {
  .flex-table-cell,
  .first-column {
    width: 100% !important;
    border-bottom: none;
    text-align: left;
    padding: 0 10px 0 10px;
  }
}
.first-column {
  text-align: left;
}
@media all and (max-width: 600px) {
  .first-column {
    margin-top: 1em;
    padding: 8px;
    background-color: #74e022;
  }
}
.ft-header {
  font-family: 'Josefin Slab', Georgia, serif;
  font-weight: bold;
  border-bottom: 1px solid #74e022;
  text-align: center;
}
@media all and (max-width: 600px) {
  .ft-header {
    display: none;
  }
}
@media all and (min-width: 600px) {
  .small-label {
    display: none;
  }
}
.total-row {
  justify-content: flex-end;
}
.ui-widget {
  font-family: 'Oswald', Verdana, sans-serif;
  font-size: 0.8em;
}
.search-div {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
@media only screen and (max-device-width: 600px) {
  .search-div {
    width: 100%;
  }
}
.search-form input {
  font-family: 'Josefin Slab', Georgia, serif;
  font-size: 1.1em;
  font-weight: 700;
  color: #468913;
  border: none;
  border-bottom: 1px solid #595959;
  width: 300px;
  text-align: right;
}
.search-form input:focus {
  outline: none;
}
.search-form input:focus {
  outline: none;
}
@media only screen and (max-device-width: 600px) {
  .search-form input {
    width: 300px;
    margin: 10px;
    text-align: left;
    padding-right: 10px;
  }
}
.results-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  width: 100%;
}
.result-item {
  margin-bottom: 1em;
}
.result-item a {
  text-decoration: none;
  color: #595959;
}
.result-item a:hover {
  color: #595959;
}
.result-item span {
  float: right;
}
@media only screen and (max-device-width: 600px) {
  .result-item span {
    padding-right: 20px;
  }
}
.result-item:hover {
  background-color: #74e022;
}
.field-set {
  margin-left: 40px;
  width: 175px;
}
.field-set p {
  margin: 5px;
}
.date-field,
.servings-field {
  font-family: 'Josefin Slab', Georgia, serif;
  font-size: 1.1em;
  font-weight: 700;
  color: #468913;
  border: none;
  border-bottom: 1px solid #595959;
}
.date-field:focus,
.servings-field:focus {
  outline: none;
}
.date-field {
  width: 150px;
  text-align: center;
}
.servings-field {
  width: 50px;
  text-align: center;
}
.save-button {
  border: 1px solid #468913;
  float: right;
  margin-top: 0;
  font-size: 1.05em;
}
