.search-div{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    @media only screen and (max-device-width: @phone) {
        width: 100%;
    }
}

.search-form{
    input {
        .input-mixin();
        width: 300px;
        text-align: right;
        &:focus{
            outline: none;
        }
        
        @media only screen and (max-device-width: @phone) {
            width: 300px;
            margin: 10px;
            text-align: left;
            padding-right: 10px;
        }
    }
}

.results-list{
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    width: 100%;
    
}

.result-item {
    margin-bottom: 1em;
    
    a{
        text-decoration: none;
        color: @text-primary;
        &:hover {
            color: @text-primary;
        }
    }
    
    span {
        float: right;
        @media only screen and (max-device-width: @phone) {
            padding-right: 20px;
        }
    }
    
    &:hover{
        background-color: @primary-light;
    }
}