.add-food-div {
    text-align: right;
}


.control-box {
    flex: 1 1 auto;
}

.diary-controls {
    display: flex;
    flex-flow: wrap nowrap;
    width: 80%;
    margin: 20px auto;
    
    @media only screen and (max-width: @phone){
        width: 90%;
    }
}

.date-input {
    .input-mixin();
    width: 150px;
    text-align: center;
    
    &:hover {
        color: @primary-light;
        cursor: pointer;
    }
}

.flex-table {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px auto;
    @media only screen and (max-width: @phone) {
        width: 90%;
        margin: 10px auto;
        display: block;
    } 
}


.flex-table-cell, .first-column {
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dashed grey;
    
    input {
        .input-mixin();
        outline: none;
        text-align: center;
        width: 30%;
    }
    
    @media all and (max-width: @phone) {
        width: 100% !important;
        border-bottom: none;
        text-align: left;
        padding: 0 10px 0 10px;
    } 
}

.first-column {
    text-align: left;
    @media all and (max-width: @phone) {
        margin-top: 1em;
        padding: 8px;
        background-color: @primary-light;
    } 
}

.calories-cell {
    @media only screen and (max-width: @phone) {
        border-bottom: 1px solid @text-primary;
        padding-bottom: 5px;
    }
}

.ft-header {
    font-family: @serif;
    font-weight: bold;
    border-bottom: 1px solid @primary-light;
    text-align: center;
    
    @media all and (max-width: @phone) {
        display: none;
    } 
}

.small-label {
    @media all and (min-width: @phone) {
        display: none;
    }
}