// Colors
@brand-primary: #468913;
@primary-light: lighten(@brand-primary, 20%);
@primary-hover: darken(@brand-primary, 10%);

@text-primary: #595959;

@danger: #ea233a;
@danger-light: lighten(@danger, 20%);

//fonts
@serif: 'Josefin Slab', Georgia, serif;
@sans-serif: 'Oswald', Verdana, sans-serif;

// Typography
@light: 300;
@normal: 400;

// Break Points
@phone: 600px;
@tablet: 800px;

// Mixins
.radius-mixin() {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.input-mixin(){
    font-family: @serif;
    font-size: 1.1em;
    font-weight: 700;
    color: @brand-primary;
    border: none;
    border-bottom: 1px solid @text-primary;
    
    &:focus{
        outline: none;
    }
}