<!DOCTYPE html>
<html ng-app="nutritionApp">
<head>
   <title>Angular Nutrition App</title>
   <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="/style/style.css">
</head>
<body ng-cloak>
    <div class="container">
        <header>
            <h1 class="text-center">Nutrition App</h1>
            <hr>
        </header>
        <div class="row" ng-controller="FoodLogController">
            <div class="col-md-6">
                <ul>
                  <li ng-repeat="food in foodsEaten.foods">{{ food.name }} {{ food.calories | number:2 }} kcal</li>  
                </ul>
            </div>
        </div>
        <hr>
        <div class="row" ng-controller="SearchController as search">
            <div class="col-md-6">
                <form class="form-group">
                    <input type="text" class="form-control" ng-model="searchTerm"><br>
                    <button class="btn btn-default pull-right" ng-click="search.searchFoods(searchTerm)">Submit</button>
                </form>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled">
                    <li ng-repeat="result in search.results">{{result.fields.item_name}}</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/node_modules/lodash/lodash.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/services/constants.js"></script>
    <script src="/app/services/search-url-service.js"></script>
    <script src="/app/services/search-service.js"></script>
    <script src="/app/controllers/food-log.js"></script>
    <script src="/app/controllers/food-search.js"></script>
</body>
</html>