[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
    background-color: #595959;
    color: #fcfcfc;
    font-size: 1.5em;
}

a {
    color: #fcfcfc;
}

h1 a {
   color: #fcfcfc;
   text-decoration: none; 
}

input{
    color: black;
}

.flex-table {
    display: flex;
    flex-wrap: wrap;
}

.flex-table-cell {
    width: 24%;
}

.ft-header {
    font-weight: bold;
}

@media all and (max-width: 500px){
    .flex-table {
        display: block;
    }
    
    .flex-table div:nth-child(4n+4){
        margin-bottom: 10px;
    }
    
    .flex-table-cell {
        width: 100%;
    }
    
    .ft-header{
        display: none;
    }
}