<div class="row">
    <div class="col-md-9">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Food</th>
                    <th>Brand</th>
                    <th>Servings</th>
                    <th>Calories</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in foods.foodsEaten | orderBy: 'date':true">
                    <td>
                        {{ item.date | date : 'short' }}
                    </td>
                    <td>
                        {{ item.item_name }}
                    </td>
                    <td>
                        {{ item.brand_name }}
                    </td>
                    <td>
                        <label ng-hide="item.editMode" ng-dblclick="foods.editServings(item)">{{ item.servings }}</label>
                       <input type="text" ng-show="item.editMode" ng-model="item.servings" ng-keyup="foods.updateFood(item, $event)" focus-show>
                    </td>
                    <td>
                        {{ item.total_calories | number:0 }}
                        <a href="#" class="btn btn-danger pull-right" ng-click="foods.deleteFood(item)">
                            <i class="fa fa-trash"></i>
                        </a>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
     </div>
</div>