
<div class="diary-controls">
    <div class="date-div control-box">
        Date: <input type="text" date-picker ng-model="foods.viewDate" ng-change="foods.sumCalories()" class="date-input">
    </div>
    <div class="add-food-div control-box">
        <a ui-sref="search" class="button button-success">Add Food</a>
    </div>
</div>
<div class="flex-table">
    <div class="flex-table-cell ft-header">Item</div>
    <div class="flex-table-cell ft-header">Brand Name</div>
    <div class="flex-table-cell ft-header">Servings</div>
    <div class="flex-table-cell ft-header">Calories</div>

    <div ng-repeat-start="food in foods.foodsEaten | orderBy: 'date':true | filter: {date: foods.viewDate}" class="first-column">{{ food.item_name }}</div>
    <div class="flex-table-cell">
        <span class="small-label">Brand: </span>{{ food.brand_name}}
    </div>
    <div class="flex-table-cell">
        <label ng-hide="food.editMode" ng-click="foods.editServings(food)">
        <span class="small-label">Servings: </span>{{ food.servings }}
        </label>
        <input type="text" ng-show="food.editMode" ng-model="food.servings" ng-keyup="foods.updateFood(food, $event)" focus-show></div>
    <div ng-repeat-end class="flex-table-cell calories-cell">
        <span><span class="small-label">Calories: </span>{{ food.total_calories | number: 0 }} <a href="#" class="button button-delete f-right" ng-click="foods.deleteFood(food)"><i class="fa fa-trash"></i></a></span>
    </div>
</div>
<div class="total-row">
    <div class="flex-table-cell">
        <span>Total Calories:<span>
    </div>
    <div class="flex-table-cell text-left">
        <strong>{{foods.calorieTotal | number:0 }}</strong>
    </div>
</div>
