<div class="field-set">
    <h3>{{ item.fields.item_name }}</h3>
    <p><input type="text" date-picker ng-model="item.fields.date" class="date-field"></p>
    <p>Calories: {{ item.fields.calories }}</p>
    <p>Serving Size: {{ item.fields.serving_size_qty}} {{item.fields.serving_units}} </p>
    <p>Servings: 
        <input type="text" value="1" ng-keyup="item.updateServings(servings)"
        ng-model="servings"
        placeholder="{{item.fields.servings}}"
         class="servings-field">
        </p>
    <p>Total Calories: {{ item.fields.total_calories }}</p>
    <button ng-click="item.saveFood()" class="button button-success save-button">Save</button>
</div>