<div ng-controller="SearchController as search">           
    <div class="row">
         <div class="col-md-6">
            <form class="form-group">
                <input type="text" class="form-control" ng-model="searchTerm"><br>
                <button class="btn btn-default pull-right" ng-click="search.searchFoods(searchTerm)">Submit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
           <ul class="list-unstyled">
               <li ng-repeat="result in search.results"><strong>{{result.fields.item_name}}</strong>, {{ result.fields.brand_name}} <span class="pull-right">{{result.fields.nf_calories}}</span></li>
           </ul>
        </div>
    </div>
</div>